* {
    font-family: Arimo;
    font-size: 0.13in;
    line-height: 0.25in;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
blockquote,
p,
div {
    padding: 0 0.25in;
}

pre {
    display: inline;
    font-family: monospace;
    font-weight: bold;
}

ul {
    padding: 0 0.25in;
}

h1 {
    font-size: 0.4in;
    font-weight: bold;
    line-height: 0.5in;
}

h2 {
    font-size: 0.25in;
    font-weight: bold;
    margin: 0.25em 0;
    padding: 0.25em 0.25in;
}

h3 {
    font-size: 0.16in;
    font-weight: bold;
}

/*--------------------------------------------------------------------*/

.at::before {
    content: "\0040";
    /* '@' */
}

.dot::before {
    content: "\002e";
    /* '.' */
}

.hyphen::before {
    content: "\002d";
    /* '-' */
}

.name {
    letter-spacing: 0.00912em;
}

.title {
    font-size: 0.195in;
}

.stars {
    float: right;
    visibility: hidden;
}

.date {
    border: 1px solid grey;
    border-radius: 0.125in;
    float: right;
    margin-right: 0.25in;
    padding: 0 0.07in;
    color: grey;
}

.fas,
.fab,
.far {
    width: 0.15in;
}

/*--------------------------------------------------------------------*/

main {
    background: white;
    box-shadow: 0 0 0.25in rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: block;
    margin: 0.5in auto;
    width: 8.5in;
    height: 11in;
    overflow-y: scroll;
}

nav {
    box-sizing: border-box;
    float: left;
    width: 32.5%;
    height: 100%;
    padding: 0.125in 0;
    background: #0075A7;
    color: white;
}

nav>section>div>a {
    color: white;
}

nav>section>h2 {
    background: #005C85;
}

article {
    box-shadow: 0 0 0.125in rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    float: right;
    width: 67.5%;
    height: 100%;
    padding: 0.125in 0;
}

article>section>h2 {
    background: #F4F4F4;
}

article>section>span>blockquote {
    margin-left: 0.125in;
}

.page {
    background: white;
    box-shadow: 0 0 0.25in rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: block;
    margin: 0.5in auto;
    padding: 0;
    width: 8.5in;
}